<a href="https://colab.research.google.com/github/fdmy2713-dotcom/ADS1/blob/main/1_data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Handling Missing Data

In [5]:
import pandas as pd

##Use this for local Jupyter Notebook
##------------------------------------
##import os
##os.chdir('C:\\Users\\taiho\\Documents\\D_Drive\\Teaching Assignments\\PSB_Academy\\Hertfordshire_Course\\1_Masters_Fundamentals_of_Data_Science\\2_Personal_Materials\\3_Codes\\1_topical_codes\\data')
##df = pd.read_csv('simple_missing_data.csv')
##print(df)

##Use this for Google Colab
##------------------------------------
from google.colab import drive
drive.mount('/content/drive')
file_path = '/content/drive/MyDrive/MSc in Data Science/FDS/Shared/02_Codes/data/simple_missing_data.csv'
df = pd.read_csv(file_path)
print(df)

##df = pd.read_csv('simple_missing_data.csv')
##print(df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
     name  score
0  Andrew   78.0
1   Betty   82.0
2   Candy    NaN
3   David   75.0
4   Ellen    NaN
5    Gary   60.0

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
## option 1: drop rows with missing data
df_dropped_rows = df.dropna()
print(df_dropped_rows)

     name  score
0  Andrew   78.0
1   Betty   82.0
3   David   75.0
5    Gary   60.0

In [ ]:
## option 2: impute missing data

## (1) median imputation (you can also use mean)
## --------------------------------------------
df['score'] = df['score'].fillna(df['score'].median())
print(df)

     name  score
0  Andrew   78.0
1   Betty   82.0
2   Candy   76.5
3   David   75.0
4   Ellen   76.5
5    Gary   60.0

## 2. Handling Duplicative Data

In [6]:
##For Jupyter Notebook
##df = pd.read_csv('duplicative_data.csv')
##print(df)

##Use this for Google Colab
##------------------------------------
from google.colab import drive
drive.mount('/content/drive')
file_path = '/content/drive/MyDrive/MSc in Data Science/FDS/Shared/02_Codes/data/duplicative_data.csv'
df = pd.read_csv(file_path)
print(df)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           5.1          3.5           1.4          0.2  setosa
4           4.9          3.0           1.4          0.2  setosa
5           4.7          3.2           1.3          0.2  setosa

In [ ]:
df_cleaned = df.drop_duplicates()
print(df_cleaned)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [7]:
df_cleaned=df.drop_duplicates()
print(df_cleaned)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa